.mastermind {
  float: left;
  width: 250px;
  text-align: center;
  background-color: #222222;
}
.mastermind .case {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #eeeeee;
  border-radius: 50%;
}
.colors {
  float: left;
  width: 400px;
  height: 196px;
  margin-left: 20px;
  background-color: #222222;
}
.colors .color {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-right: -4px;
  margin-bottom: -4px;
}
.colors .red {
  background-color: #ff0000;
}
.colors .green {
  background-color: #008000;
}
.colors .blue {
  background-color: #0000ff;
}
.colors .violet {
  background-color: #ee82ee;
}
.colors .yellow {
  background-color: #ffff00;
}
.colors .orange {
  background-color: #ffa500;
}
.colors .cyan {
  background-color: #00ffff;
}
.colors .pink {
  background-color: #ffc0cb;
}
.selected-color {
  border: 4px #000000 solid;
}
.validation {
  display: inline-block;
  padding: 10px 20px;
  margin-left: 20px;
  color: #eeeeee;
  cursor: pointer;
  background-color: #222222;
}
